# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# data file
familiar_words_file.txt
new_words_file.txt
unstable_words_file.txt
new_words_in_file

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#specific files
test*

#makefile
makefile1
makefile~
